<div class="country-content"><img src="${flags.svg}" alt="${name}" width="32" height="16">
    <p class="country-name"> ${name.official}</p>
</div>
<ul>
    <li class="country-content-item">Capital: <span> ${capital}</span></li>
    <li class="country-content-item">Population: <span> ${population}</span></li>
    <li class="country-content-item">Languages: <span> ${languages}</span></li>
</ul>